<header class="group">
  <h1>News Readr</h1>
</header>
<div id='content'></div>
<footer class="group">
  <ul>
    <li><a href="#/feeds/new">Add a feed</a></li>
    <li><a href="#">To Index</a></li>
  </ul>
</footer>
<script></script>
