<header class="group">
  <% if signed_in? %>
    <p id="current-user">Signed in as: <%= current_user.username %></p>
  <% end %>
  <h1>News Readr</h1>
</header>
<div id='content'>
</div>
<footer class="group">
  <ul id="nav">
    <li><a href="#/feeds/new">Add a feed</a></li>
    <li><a href="#">To Index</a></li>
    <% if signed_in? %>
      <li>
        <%= link_to "Sign Out", session_url, method: "delete"%>
      </li>
    <% else %>
      <li>
        <a href="<%= new_user_url %>">Sign Up</a>
      </li>
      <li>
        <a href="<%= new_session_url %>">Sign In</a>
      </li>
    <% end %>
  </ul>

</footer>
<script></script>
