<div class="error-bar"></div>

<form>
  <label for="feed-url">URL</label>
  <input
    id='feed-url'
    type="text"
    name="feed[url]"
    value="<%= feed.get('url') %>">

  <input type="submit"></input>
</form>