<% feeds.each(function(feed){ %>
  <li>
   <span data-id="<%= feed.id %>" class="fav-star">
      <% if (!feed.get("favorite")){ %>
        ☆
      <% } else { %>
        ★
      <% } %>
    </span>

    <a href="#/feeds/<%=feed.id%>">
      <%= feed.escape("title") %>
    </a>
    <button id="delete-button" data-id="<%= feed.id %>">Delete</button>
  </li>
<% }); %>